/*--------------------------------------------------------------------------------------------------- */
    
      /*Header Part: */
   
                .header{
                    width: 100%;
                    height: 80px;
                    font-family: 'Coda', cursive;
                   
                }

                #date{

                    float: right;
                    font-size: 20px;
                    font-weight:normal;
                    position: relative;
                    top: 60%;
                   left: 7px;
                    color: white;
                    padding: 3px 10px;
                    background-color: black;
                }

                #title{
                    float: left;
                }

                #logo{
                    height: 70px;
                    width: 70px;
                    border-radius: 50%;
                  border: 1px solid black;

                }

                #title h1{
                    float: right;
                    margin-left: 20px;
                    font-size: 40px;
                    position: relative;
                    top: -15px;
                    font-weight: normal;
                    color: black;
                }
    
      /*--------------------------------------------------------------------------------------------------- */
    
      /*Content Part: */
    
                    .main-content{
                        
                        font-size: 30px;
                        width: 100%;
                        height: 600px;
                        font-family: 'Abel', sans-serif;
                        color: white;
                        border: 4px solid orange;
                        text-align: center;
                       
                        
                    }

                    .left h1{
                        padding-top: 25%;
                        
                    }

                    .right h1{
                        padding-top: 24%;
                        
                    }

                   
                    #sign-up{
                        
                       position: relative;
                        top: -120px;
                        left:40%;
                    }
                    #login{
                        
                         position: relative;
                        top: -110px;
                        left:-41%;
                       
                    }

                    .split {
                        height: 79%;
                        width: 50%;
                        position: fixed;
                       text-align: center;
                }

                .left {
                    left: 0;
                    background-image: linear-gradient(to bottom right, #1F4E79  10% ,  #0070C0 50%, #00B0F0);
                }

                .right {
                  right: 0;
                  background-image: linear-gradient(to bottom right,   #92D050 10%, #00B050 50%,#375623);
                }

                    #back-to-login{
                        float: right;
                       margin-right: 10px;
                         position: relative;
                         top: -20%;
                        display: none;
                    }

                     #back-to-sign-up{

                       float: left;
                         margin-left: 10px;
                        position: relative;
                         top: -20%;
                         display: none;
                    }

                    #sign-up-form{
                        
                         width: 300px;
                        height: 350px;
                        background-color: whitesmoke;
                        border: 1px solid black;
                        border-radius: 10%;
                        color: black;
                       position: relative;
                        top: 20%;
                        left: 10%;
                          display: none;
                       
                        
                       
                        
                    }

                    #login-form{

                        width: 300px;
                        height: 350px;
                        background-color: whitesmoke;
                        border: 1px solid black;
                        border-radius: 10%;
                        color: black;
                        
                        position: relative;
                        top: 20%;
                        left: 70%;
                        display: none;

                    }
    
    
     /*--------------------------------------------------------------------------------------------------- */
    
     /*footer Part: */
    
                    #copyright{
                        color: black;
                        margin-left: 5px;
                        font-size: 20px;
                       position: relative;
                        top: -7px;

                    }
    
      /*--------------------------------------------------------------------------------------------------- */
